#error {
	border: inset 10px #ff0000;
	color:red;
}

table, td, th {
	border: 1px black solid;
	border-collapse: collapse;
}

th {
 	background-color:#336B87;
	color:#fff;
}
body {
	font-family: "Kokoro";
}

.stone {
	background-color:#336B87;
	color:#fff;
	border-top-left-radius: 100px 100px;
	border-top-right-radius: 100px 100px;
	border-bottom-left-radius: 100px 100px;
	border-bottom-right-radius: 100px 100px;
	padding-top:30px;
	padding-left:30px;
	padding-bottom:30px;
	margin-top:10px;
	margin-bottom:10px;
}
.stone:hover{
	background-color:#538BA7;
	color:#fff;
}

.research {
	background-color:#763626;
	color:#fff;
	 height: 30px;
}

 .research:hover{
 	background:#965646;
 }

 .logincenter {
	text-align: center;
 }
